{% extends 'base.html' %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock customcss %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div>
                <h1>Chat Room</h1>
                <p style="color: #7f7f7f;">Chat Roomは、自由にチャットができるサイトです。</p>
                <div class="col-lg-8 offset-lg-2">
                    <a class="btn btn-primary btn-block mb-4" href="signup/">無料会員登録</a>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}