{% extends 'base.html' %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock customcss %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <h2>登録フォーム</h2>
            {% if error %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endif %}

            <form class="form-signin" method='POST' action=''>{% csrf_token %}
                <div class="form-group">
                    <label for="user_name">ユーザー名</label>
                    <input class="form-control" type="text" name="username" id="user_name">
                </div>
                <div class="form-group">
                    <label for="user_email">メールアドレス</label>
                    <input class="form-control" type="text" value="{{ email }}" name="email" id="user_email">
                </div>
                <div class="form-group">
                    <label for="user_password">パスワード</label>
                    <input class="form-control" type="password" name="password" id="user_password">
                </div>

                <div class="form-group">
                    <label for="user_password_confirmation">パスワード（もう１度ご入力ください）</label>
                    <input class="form-control" type="password" name="password_confirmation"
                        id="user_password_confirmation">
                </div>

                <div class="col-lg-8 offset-lg-2">
                    <input type="submit" name="commit" value="登録する" class="btn btn-primary btn-block"
                        data-disable-with="登録する">
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock content %}

{% block left %}
{% endblock left %}
